<div class="control-group">
    <div class="controls">
        <div class="input-append">
            <input id="inputIcon" type="text" ng-model="searchTerm" ng-enter="search()">
            <span class="add-on btn" ng-click="search()"><i class="icon-search"></i></span>
        </div>
    </div>
</div>

<div style="clear: both"></div>
<div style="float:left; margin-left:15px;">
    <ul class="unstyled">
        <li ng-repeat="video in videos">
            <div class="searchResult">{{video}}</div>
        </li>
    </ul>
</div>