<span>
<a class="yt-user-photo " href="/user/012013014">
    <span class="video-thumb ux-thumb yt-thumb-square-48 ">
        <span class="yt-thumb-clip">
            <span class="yt-thumb-clip-inner">
                <img width="48" src="//lh3.googleusercontent.com/-I_-gAeddn8s/AAAAAAAAAAI/AAAAAAAAAAA/xM4yXc31Yds/s48-c-k/photo.jpg" alt="012013014" data-group-key="thumb-group-2">
                <span class="vertical-align"></span>
            </span>
        </span>
    </span>
</a>
<div class="content" style="margin-left:60px;">
  <p class="metadata" style="margin: 0;">
    <span class="author ">
      <a dir="ltr" class="yt-uix-sessionlink yt-user-name " href="/user/012013014">{{comment.author[0].name.$t}}</a>
    </span>
      <span dir="ltr" class="time">
        <a href="http://www.youtube.com/comment?lc=GNkUgBesuijmO2YuwmajMW8rHX89-lbqFZyJ4nPPmPs" dir="ltr">
            {{comment.published.$t}}
        </a>
      </span>
  </p>


  <div dir="ltr" class="comment-text">{{comment.content.$t}}</div>
</div>
</span>

